/* /* /*--------------------------Single_Formation--------------------------*/
body {
  background-color: #fff4ea;
  margin: 0;
  padding: 0;
}

#single_formation_main {
  display: flex;
  margin: 0% 10%;
}


#single_formation_titre {
  text-align: center;
  margin: 6% auto 2%;
}

#single_formation_sidebar_left {
  width: 15%;
  height: auto;
  background-color: #ffc61c;
  position: fixed;
  top: 260px;
}

.single_formation_content {
  width: 80%;
  margin-left: 24%;
}

.single_formation_thumbnail {
  width: 70%;
  height: auto;
  margin: 5%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.single_formation_icone {
  width: 7%;
  height: auto;
}

.single_formation_icone2 {
  width: 8%;
  height: auto;
}

.single_formation_block {
  background-color: #ffff;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
}

#single_formation_tarif img,
#single_formation_duree img {
  width: 25%;
  height: auto;
  margin-right: 20px;
}

#single_formation_tarif p,
#single_formation_duree p {
  font-size: 90%;
  font-weight: 550;
  margin-top: 12%;
}

.single_formation_block_title {
  display: flex;
  margin-left: 2%;
  margin-bottom: 1%;
}

.single_formation_block_title img {
  margin-right: 2%;
}

.single_formation_block_title h2 {
  margin-top: 3%;
  font-size: 150%;
}


#single_formation_bloc_contact {
  background-color: #fff4ea;
  width: 35%;
  height: auto;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

/*_____________GENERAL__________*/


/*______________MOBILE__________*/
@media (max-width : 370px) {
  #single_formation_titre {
    margin-top: 175%;
  }
}

@media (min-width : 371px) and (max-width : 500px) {
  #single_formation_titre {
    margin-top: 110%;
  }
}

@media (min-width : 501px) and (max-width : 556px) {
  #single_formation_titre {
    margin-top: 85%;
  }
}
@media (min-width : 557px) and (max-width : 630px) {
  #single_formation_titre {
    margin-top: 75%;
  }
}
@media (max-width : 767px) {
  body {
    background-color: #fff4ea;
    margin: 0;
    padding: 0;
  }
  .single_formation_carte{
    width: 60%;
  }

  #single_formation_main {
    margin: 0% 0%;
  }

  #single_formation_titre {
    margin-top: 55%;
  }

  #single_formation_sidebar_left {
    width: 100%;
    height: auto;
    top: 250;
    left: 0;
  }

  .slidebar_mobile {
    width: 100%;
    height: auto;
    left: 0;
    position: absolute !important;
    top: 250px !important;
  }

  .slidebar_mobile_fix {
    position: fixed !important;
    top: 0 !important;
  }

  .slidebar_mobile_fix #single_formation_h1 h1 {
    font-size: 120%;
  }

  .slidebar_mobile_fix #single_formation_tarif,
  .slidebar_mobile_fix #single_formation_duree {
    width: 20%;
    font-size: 80%;
  }

  .slidebar_mobile_fix #single_formation_bloc_contact {
    font-size: 80%;
    width: 45%;
  }

  #single_formation_h1 h1 {
    font-size: 150%;
    margin-top: 9%;
    text-align: center;
  }

  #slidebar_element {
    display: flex;
  }

  #single_formation_tarif,
  #single_formation_duree {
    width: 25%;
    height: auto;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 5%;
  }

  #single_formation_tarif img,
  #single_formation_duree img {
    width: 30%;
    height: auto;
    margin-left: 20%;
  }

  #single_formation_tarif p {
    font-size: 120%;
    font-weight: 650;
    margin-top: 12%;
    width: 60%;
    text-align: center;
  }

  #single_formation_duree p {
    font-size: 120%;
    font-weight: 650;
    margin-top: 7%;
    width: 75%;
    text-align: center;
  }

  #single_formation_bloc_contact {
    margin-top: 0;
    margin-bottom: 4px;
  }



  #single_formation_bloc_contact p {
    text-align: center;
  }

  .single_formation_thumbnail {
    display: none;
  }

  .single_formation_content {
    width: 90%;
    display: block;
    margin: 5% auto;
  }

  .single_formation_icone, .single_formation_icone2 {
    width: 10%;
    height: 17%;
  }

  .single_formation_block {
    background-color: #ffff;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
  }

  .single_formation_carte {
    width: 60%;
  }

  .single_formation_block_title {
    display: flex;
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 80%;
  }

  .single_formation_block_title img {
    margin-right: 2%;
  }

}
/*____________TABLETT___________*/
@media (min-width : 768px) and (max-width : 1100px) {
  #single_formation_main {
    display: flex;
    margin: 0% 5%;
  }


  #single_formation_sidebar_left {
    width: 20%;
    height: auto;
    top: 250px;
    font-size: 80%;
    margin-bottom: 350px;
  }

  #single_formation_h1 h1 {
    width: 90%;
    font-size: 120%;
    margin: 5% auto 0;
    text-align: center;
  }

  #slidebar_element {
    display: flex;
    flex-direction: column;
  }

  #single_formation_tarif,
  #single_formation_duree {
    width: 100%;
    height: auto;
    margin-bottom: auto;
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
  }

  #single_formation_tarif img,
  #single_formation_duree img {
    width: 30%;
    height: 10%;
    margin-top: 15%;
  }

  #single_formation_tarif p {
    font-size: 105%;
    font-weight: 650;
    width: 50%;
    text-align: center;
  }

  #single_formation_duree p {
    font-size: 105%;
    font-weight: 650;
    margin-top: 7%;
    width: 35%;
    text-align: center;
  }

  #single_formation_bloc_contact {
    width: 90%;
    margin: 10% auto 5%;
  }

  #single_formation_bloc_contact p {
    text-align: center;
  }

  button, #single_formation_link_formation{
    font-size: 85%;
    text-align: center;
  }

  .single_formation_content {
    width: 100%;
  }

  .single_formation_block_title h2{
    font-size: 140%;
  }
  .single_formation_icone, .single_formation_icone2{
    width: 9%;
    height: 9%;
  }
  .single_formation_carte{
    width: 50%;
  }
}

@media (min-width : 1065px) {


  #single_formation_sidebar_left {
    width: 18%;
    height: auto;
    top: 275px;
    font-size: 80%;
    margin-bottom: 350px;
    margin-left: -2%;
  }

  .single_formation_thumbnail {
    width: 75%;
  }

  #single_formation_h1 h1 {
    width: 90%;
    font-size: 120%;
    margin: 5% auto 0;
    text-align: center;
  }

  #slidebar_element {
    display: flex;
    flex-direction: column;
  }

  #single_formation_tarif,
  #single_formation_duree {
    width: 100%;
    height: auto;
    margin-bottom: auto;
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
  }

  #single_formation_tarif img, #single_formation_duree img {
    width: 31%;
    height: 20%;
    margin-top: 10%;
  }

  #single_formation_tarif p,
  #single_formation_duree p {
    font-size: 130%;
    font-weight: 650;
    text-align: center;
    margin-top: 20%;
  }

  #single_formation_tarif p {
    width: 50%;
  }

  #single_formation_duree p {
    width: 50%;
  }

  #single_formation_bloc_contact {
    width: 90%;
    margin: 5% auto 3%;
  }

  #single_formation_bloc_contact p {
    text-align: center;
  }

  .single_formation_content {
    width: 100%;
  }

  .single_formation_icone, .single_formation_icone2{
    width: 10%;
    height: 10%;
  }
  #single_formation_link_formation{
    font-size: 90%;
    text-align: center;
  }
  .single_formation_carte{
    width: 30%;
  }
}

/* @media screen and (max-width : 630px) {
  #single_formation_sidebar_left {
    left: 0;
  }
} */
























/*
  
  @media (min-width: 940px)and (max-width: 1900px) {
    .single_formation_sidebar_left {
      width: 18%;
      height: 30px;
      text-align: center;
      background-color: #ffc61c;
      position: fixed;
      top: 30%;
    }
  }
  
  @media (min-width : 768px) and(max-width : 1023px) {    
    
    .single_formation_sidebar_left {
      width: 20%;
      height: auto;
      text-align: center;
      background-color: #ffc61c;
      position: fixed;
      top: 210;
    }
  }
  
  @media (min-width: 628px) and (max-width : 767px) {
    body {
      background-color: #fff4ea;
    }
  
    #single_formation_titre {
      text-align: center;
      margin-top: 30%;
      margin-bottom: 3%;
    }
  
    #single_formation_main {
      margin: 0% 5% !important;
    }
  
    .single_formation_sidebar_left {
      width: 100%;
      height: auto;
      text-align: center;
      background-color: #ffc61c;
      display: flex;
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      display: none !important;
    }
  
    .single_formation_sidebar_left p {
      font-size: 80%;
    }
  
    #single_formation_bloc_contact {
      width: 25%;
      padding: 1% 0;
    }
  
    #single_formation_bloc_contact p {
      font-size: 65%;
    }
  
    .single_formation_thumbnail {
      width: 40%;
      height: 40%;
      margin: 1%;
      display: flex;
    }
  
    .single_formation_thumbnail img {
      width: 100%;
      height: auto;
      margin: 2%;
    }
  
    #single_formation_tarif {
      display: none;
    }
  
    #single_formation_tarif img {
      margin-right: 25px;
      display: none;
    }
  
    #single_formation_tarif p {
      font-size: 100%;
      width: 10%;
      position: fixed;
      top: 140;
      left: 230;
      display: none;
    }
  
    #single_formation_duree {

      display: none;
    }
  
    #single_formation_duree img {
      display: none;
      width: 20%;
      margin-left: 25px
    }
  
    #single_formation_duree p {
      width: 10%;
      position: fixed;
      top: 140;
      left: 520;
      display: none;
    }
  
    .single_formation_content {
      width: 100% !important;
      margin-left: 0;
    }
  
    .single_formation_block {
      width: 100%;
    }
  
    .single_formation_block_title {
      margin-bottom: 2%;
    }
  
    .single_formation_icone {
      width: 20%;
    }
  
    .single_formation_icone2 {
      width: 10%;
    }
  
    .single_formation_icone3 {
      width: 6%;
      height: auto;
    }

  }
  
  @media (max-width : 627px) {  
    body {
      background-color: #fff4ea;
    }
  
    #single_formation_titre {
      text-align: center;
      margin-top: 30%;
      margin-bottom: 3%;
    }
  
/*     #single_formation_main {
      margin: 0% 5%;
    } */

/*-----------------------------------Slide bar a revoir ---------------------------*/
/*
    .single_formation_sidebar_left {
      width: 100%;
      height: auto;
      background-color: #1c64ff;
      position: fixed;
      left: 0;
      top: 245;*/
/*     text-align: center;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      position: fixed;
      top: 5;
      left: 0;
      display: none; */
/*}

/*
    .single_formation_sidebar_left p {
      font-size: 80%;
    }
  
    #single_formation_bloc_contact {
      width: 25%;
      padding: 1% 0;
    }
  
    #single_formation_bloc_contact p {
      font-size: 65%;
    }
  
    .single_formation_thumbnail {
      width: 40%;
      height: 40%;
      margin: 1%;
      display: flex;
    }*/

/*   .single_formation_thumbnail img {
      width: 100%;
      height: auto;
      margin: 2%;
    } */
/*

  
    #single_formation_tarif img {
      margin-right: 25px;
      width: 50%;
    }
  
    #single_formation_tarif p {
      font-size: 100%;
      width: 10%;
    }

  
    #single_formation_duree img {
      width: 20%;
      margin-left: 25px
    }
  
    #single_formation_duree p {
      width: 10%;
      position: fixed;
      top: 140;
      left: 520;
      display: none;
    }*/

/*-----------------------------------Slide bar a revoir ---------------------------*/
/* .single_formation_content {
      width: 100%;
      margin-left: 0;
    }
  
  
    .single_formation_icone {
      width: 25%;
    }
  }*/

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/