#adviceCaroussel {
    margin-top: 5%;
}

#adviceCaroussel_Stagiaire .caroussel,
#adviceCaroussel_Formateur .caroussel{
    max-height: 420px;
    height: auto;
}

#adviceCaroussel_Stagiaire .caroussel_item,
#adviceCaroussel_Formateur .caroussel_item {
    float: left;
}

.avis_Stagiaire,
.avis_Formateur {
    border-radius: 10%;
    padding: 0 2%;
    width: 80%;
    margin-left: 10%;
    height: 325px;
}

.avis_Stagiaire {
    background-color: #fff4ea;
}

.avis_Formateur {
    background-color: #ffff;
    margin-top: 2%;
}

#adviceCaroussel .element {
    width: 70%;
    height: auto;
    transition: transform .1s;
    margin-top: 3%;
}

.formation_name {
    font-size: 120%;
    text-align: center;
    padding: 5% 0 0 0;
}

.content {
    width: 90%;
    height: 125px;
}

.content p {
    text-align: center;
}

.img2 {
    margin-left: 100%;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5%;
}

.author_icone,
.author_name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.author_icone {
    width: 15%;
    height: 15% !important;
    margin-right: 5%;
}

.author_name {
    margin-top: 10%;
}

@media (min-width: 800px) and (max-width: 1100) {

    .avis_Stagiaire,
    .avis_Formateur {
        height: 90%;
    }
}

@media (max-width: 767px){
    .avis_Stagiaire,
    .avis_Formateur {
        height: 280px;
    }

    .author_icone {
        margin-top: 5%;
    }
}