.global_css {
    --e-global-color-primary: #FFC61A;
    --e-global-color-secondary: #5CCBC3;
    --e-global-color-text: #37827A;
    --e-global-color-accent: #FF0080;
    --e-global-color-1f34d38: #FFF4EA;
    --e-global-typography-primary-font-family: "Quicksand";
    --e-global-typography-primary-font-weight: 700;
    --e-global-typography-secondary-font-family: "Quicksand";
    --e-global-typography-secondary-font-weight: 600;
    --e-global-typography-text-font-family: "Quicksand";
    --e-global-typography-text-font-weight: 500;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight);
    background-color: var(--e-global-color-1f34d38);
}

.global_css h1 {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    font-size: 110%;
}

.global_css h2 {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    font-size: 100%;
}

.global_css h3 {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
    font-size: 95%;
}

.global_css h4 {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
    font-size: 90%;
}

.global_css h5 {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
    font-size: 85%;
}

.global_css h6 {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-secondary-font-weight);
    font-size: 80%;
}

.global_css button,
.global_css input[type="button"],
.global_css input[type="submit"],
.global_css .elementor-button {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    color: var(--e-global-color-1f34d38);
    background-color: var(--e-global-color-accent);
    border-radius: 30px 30px 30px 30px;
    font-size: 80%;
}
/* 
@media (min-width : 768px) and(max-width : 1023px) {
    .global_css h1 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-primary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-primary-font-weight);
        font-size: 110%;
    }

    .global_css h2 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-primary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-primary-font-weight);
        font-size: 100%;
    }

    .global_css h3 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-secondary-font-weight);
        font-size: 95%;
    }

    .global_css h4 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-secondary-font-weight);
        font-size: 90%;
    }

    .global_css h5 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-secondary-font-weight);
        font-size: 85%;
    }

    .global_css h6 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-secondary-font-weight);
        font-size: 80%;
    }

    .global_css button,
    .global_css input[type="button"],
    .global_css input[type="submit"],
    .global_css .elementor-button {
        font-family: var(--e-global-typography-primary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-primary-font-weight);
        color: var(--e-global-color-1f34d38);
        background-color: var(--e-global-color-accent);
        border-radius: 30px 30px 30px 30px;
        font-size: 80%;
    }
}

@media (min-width: 628px) and (max-width : 767px) {

    .global_css h1 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-primary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-primary-font-weight);
        font-size: 105%;
    }

    .global_css h2 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-primary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-primary-font-weight);
        font-size: 100%;
    }

    .global_css h3 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-secondary-font-weight);
        font-size: 95%;
    }

    .global_css h4 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-secondary-font-weight);
        font-size: 80%;
    }

    .global_css h5 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-secondary-font-weight);
        font-size: 75%;
    }

    .global_css h6 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-secondary-font-weight);
        font-size: 70%;
    }

    .global_css button,
    .global_css input[type="button"],
    .global_css input[type="submit"],
    .global_css .elementor-button {
        font-family: var(--e-global-typography-primary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-primary-font-weight);
        color: var(--e-global-color-1f34d38);
        background-color: var(--e-global-color-accent);
        border-radius: 30px 30px 30px 30px;
        font-size: 60%;
    }
}

@media (max-width : 627px) {

    /*.global_css h1 {
      color: var(--e-global-color-text);
      font-family: var(--e-global-typography-primary-font-family), Sans-serif;
      font-weight: var(--e-global-typography-primary-font-weight);
      font-size: 95%;
    }*//*

    .global_css h2 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-primary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-primary-font-weight);
        font-size: 80%;
    }

    .global_css h3 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-secondary-font-weight);
        font-size: 75%;
    }

    .global_css h4 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-secondary-font-weight);
        font-size: 70%;
    }

    .global_css h5 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-secondary-font-weight);
        font-size: 65%;
    }

    .global_css h6 {
        color: var(--e-global-color-text);
        font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-secondary-font-weight);
        font-size: 60%;
    }

    .global_css button,
    .global_css input[type="button"],
    .global_css input[type="submit"],
    .global_css .elementor-button {
        font-family: var(--e-global-typography-primary-font-family), Sans-serif;
        font-weight: var(--e-global-typography-primary-font-weight);
        color: var(--e-global-color-1f34d38);
        background-color: var(--e-global-color-accent);
        border-radius: 30px 30px 30px 30px;
        font-size: 60%;
    }
} */