/*
* Style CSS for single-formation.php
*/

@media screen {
  body {
    background-color: #fff4ea;
    margin: 0;
    padding: 0;
  }

  #single_formation_main {
    display: flex;
    margin: 5% 10% 10% 10%;
    height: auto;
  }

  #single_formation_sidebar_left {
    height: auto;
    background-color: #ffc61c;
  }

  #single_formation_h1 h1 {
    text-align: center;
  }

  #single_formation_titre {
    text-align: center;
    margin: 0 auto 2%;
  }

  .single_formation_thumbnail {
    height: auto;
    margin: 5%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  #slidebar_element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #single_formation_tarif img,
  #single_formation_duree img {
    width: 25%;
    height: auto;
    margin-right: 20px;
  }

  #single_formation_tarif p,
  #single_formation_duree p {
    font-weight: 650;
    text-align: center;
  }

  #single_formation_bloc_contact {
    background-color: #fff4ea;
    width: 35%;
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #single_formation_bloc_contact button:hover,
  button:hover {
    font-size: 125%;
  }

  .single_formation_block {
    background-color: #ffff;
    padding: 5px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 20px;
  }

  .single_formation_block_title,
  .single_formation_block_title_formation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #single_formation_carte_Formation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .single_formation_carte {
    background-color: #FFFF;
    margin-left: 4%;
    margin-bottom: 5%;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.184);
    border-radius: 30px;
    text-align: center;
  }

  .single_formation_carte_img img {
    border-radius: 30px 30px 0px 0px;
  }

  .single_formation_block_title {
    display: flex;
    margin-left: 2%;
    margin-bottom: 1%;
  }

  .single_formation_block_title img {
    margin-right: 2%;
  }

  .single_formation_block_title h2 {
    margin-top: 3%;
    font-size: 150%;
  }


}

/*______________MOBILE__________*/
@media (max-width : 500px) {
  #single_formation_tarif img {
    margin-top: 30% !important;
    margin-left: 5% !important;
  }

  .single_formation_icone {
    width: 20% !important;
    height: 17% !important;
  }

  #single_formation_tarif img,
  #single_formation_duree img {
    width: 65% !important;
  }

  #single_formation_duree img {
    margin-left: 8% !important;
  }

  #single_formation_bloc_contact button {
    font-size: 110%;
  }

}

@media (max-width : 767px) {
  header {
    display: none;
  }

  #single_formation_main {
    margin: 0 !important;
  }

  .sidebar_mobile {
    width: 100%;
    position: fixed;
    top: 0;
  }

  .single_formation_thumbnail {
    display: none;
  }

  #single_formation_h1 h1 {
    font-size: 120%;
    margin-top: 3%;
  }

  #single_formation_tarif,
  #single_formation_duree {
    width: 20%;
    height: auto;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 5%;
    font-size: 80%;
  }

  #single_formation_tarif img {
    margin-top: 25%;
  }

  #single_formation_tarif img,
  #single_formation_duree img {
    width: 45%;
    height: auto;
    margin-left: 20%;
  }

  #single_formation_tarif p {
    font-size: 120%;
    margin-left: 15%;
    width: 60%;
  }

  #single_formation_duree p {
    font-size: 120%;
    margin-top: 7%;
    width: 75%;
  }

  .single_formation_icone,
  .single_formation_icone2 {
    width: 10%;
    height: 17%;
  }

  .single_formation_icone3 {
    width: 17% !important;
    height: 17% !important;
    margin-right: 5%;
  }

  #single_formation_bloc_contact {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 80%;
    width: 45%;
  }

  #single_formation_content {
    width: 90%;
    display: block;
    margin: 5% auto;
  }

  #single_formation_titre {
    margin-top: 40%;
  }

  .single_formation_block_title h2 {
    font-size: 190%;
  }

  .single_formation_block p {
    font-size: 120%;
  }

  .single_formation_block_title_formation h2 {
    font-size: 150%;
  }







  .single_formation_carte {
    width: 60%;
  }


}

/*_____________TABLETT_________*/

@media (min-width : 768px) and (max-width : 1100px) {
  #single_formation_main {
    margin: 0;
  }

  #single_formation_sidebar_left {
    width: 40%;
    font-size: 75%;
    height: auto;
  }

  .sidebar_tablett {
    width: 23.5% !important;
    height: auto !important;
    position: fixed;
    top: 170px;
    left: 5%;
  }

  .single_formation_thumbnail {
    width: 80%;
  }

  #single_formation_h1 h1 {
    width: 90%;
    font-size: 150%;
    margin: 5% auto 0;
  }

  #slidebar_element {
    flex-direction: column;
  }

  #single_formation_tarif,
  #single_formation_duree {
    width: 100%;
    height: auto;
    margin-bottom: auto;
    margin-left: 5%;
    display: flex;
    align-items: center;
  }

  #single_formation_tarif img,
  #single_formation_duree img {
    width: 30%;
    height: 10%;
    margin-top: 15%;
  }

  #single_formation_tarif p {
    font-size: 135%;
    width: 60%;
    margin-top: 15%;
  }

  #single_formation_duree p {
    font-size: 135%;
    margin-top: 15%;
    width: 48%;
  }

  #single_formation_tarif img,
  #single_formation_duree img {
    margin-right: 13px;
  }

  #single_formation_bloc_contact {
    width: 90%;
    margin: 10% 10% 5% auto;
    font-size: 130%;
    display: block;
  }

  button,
  #single_formation_link_formation {
    font-size: 85%;
  }

  #single_formation_content {
    width: 100%;
    margin: 0 2% 0 5%;
    display: block;
  }

  .single_formation_content_after_fix {
    width: 80% !important;
    margin: 0 2% 0 30% !important;
  }

  .single_formation_block_title h2,
  .single_formation_block_title_formation h2,
  .single_formation_carte_title {
    font-size: 140%;
  }

  .single_formation_icone,
  .single_formation_icone2 {
    width: 12%;
    height: 12%;
  }

  .single_formation_icone3 {
    width: 15%;
    margin-right: 5%;
  }

  .single_formation_carte {
    width: 45%;
  }
}

/*_____________Desktop_________*/

@media (min-width : 1101px) {

  #single_formation_sidebar_left {
    width: 25%;
    height: auto;
  }

  .single_formation_thumbnail {
    width: 75%;
  }

  #single_formation_h1 h1 {
    width: 85%;
    font-size: 140%;
    margin: 5% auto 0;
  }

  #slidebar_element {
    display: flex;
    flex-direction: column;
  }

  #single_formation_tarif,
  #single_formation_duree {
    width: 80%;
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #single_formation_tarif img,
  #single_formation_duree img {
    width: 30%;
    margin-top: 10%;
  }

  #single_formation_tarif p,
  #single_formation_duree p {
    font-size: 130%;
    margin-top: 20%;
    width: 50%;
  }

  #single_formation_bloc_contact {
    width: 90%;
    margin: 5% auto 3%;
  }

  #single_formation_bloc_contact p {
    text-align: center;
    font-size: 120%;
  }

  #single_formation_bloc_contact button {
    font-size: 115%;
  }

  #single_formation_bloc_contact button:hoover {
    font-size: 135%;
  }


  #single_formation_content {
    width: 80% !important;
    margin: 0px 2% 0 3%;
  }


  .single_formation_block_title h2,
  .single_formation_block_title_formation h2,
  .single_formation_carte_title {
    font-size: 160%;
  }

  .single_formation_icone,
  .single_formation_icone2 {
    width: 10%;
    height: 10%;
  }

  .single_formation_icone3 {
    width: 12%;
    height: 12%;
    margin-right: 5%;
  }


  #single_formation_link_formation {
    font-size: 90%;
    text-align: center;
  }

  .single_formation_carte {
    width: 30%;
  }
}

@media (min-width : 1101px) and (max-width:1650px) {
  .sidebar_pc {
    position: fixed;
    top: 156px;
    width: 20% !important;
    height: auto !important;
  }

  .single_formation_content_after_fix {
    width: 80% !important;
    margin: 0 2% 0 25% !important;
  }
}

@media (min-width : 1651px) {
  .sidebar_pc {
    position: fixed;
    top: 156px;
    width: 13% !important;
    font-size: 80%;
  }

  .single_formation_content_after_fix {
    width: 80% !important;
    margin: 0 2% 0 17% !important;
    font-size: 85%;
  }
}
