
body{
    background-color: #fff4ea
  }
  #titre{
    text-align: center;
      margin:2% !important;
  margin-bottom: 20px;
  }
  main{
    display: flex;
    margin: 0% 15%;
  }
  
  .sidebar_left{
    width: 30%;
    height: 600px;
    text-align: center;
    background-color: #ffc61c;
    position:fixed;
    top:10;
  }
  .content{
    width: 65%;
    margin-left:45%
  }
  
  #img{
    width: 90%;
    height:150px;
    background-color:black;
    margin:5%;
  }
  .block{
    background-color: #ffff;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
  }
  
  #bloc_contact{
    background-color: #fff4ea;
    width:95%;
    margin-left: 3%;
    padding-top: 1%;
    padding-bottom: 3%;
  }
  button{
    background-color: #ff0080;
    color: #fff4ea;
    border-radius: 30px;
    padding: 2% 3%;
    font-size: 120%;
  }
  #tarif{
    font-size:120%;
    font-weight: bold;
  }
  #duree{
    font-size:120%;
    font-weight: bold;
  }